@charset "UTF-8";

@import "base.css";

/*-------------------------------------------------------------------------
	All
/*-----------------------------------------------------------------------*/
body,html {
	position: relative;
  width: 100%;
  min-width: 960px;
  height: 100%;
	background: url(../../img/bg/bg_main.gif);
	user-select:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-khtml-user-select:none;
	-webkit-user-drag:none;
	-khtml-user-drag:none;
}

#all {
  min-width: 960px;
}

.grab {
	position: fixed;
	opacity: .9;
	z-index: 3000;
}

/*-------------------------------------------------------------------------
	Header
/*-----------------------------------------------------------------------*/
#header {
}

	#header h1 {
		position: relative;
		display: inline-block;
		width: 261px;
		height: 139px;
		margin: 10px 0 0 10px;
		background: url(../../img/logo.png) no-repeat center center;
		z-index: 2000;
	}

/*-------------------------------------------------------------------------
	Contact
/*-----------------------------------------------------------------------*/
#header #contact {
	position: absolute;
	top: 0;
	right: 0;
	margin: 15px 25px 0 0;
	z-index: 1500;
}

	#contact .contact-box {
		margin-bottom: 6px;
		padding: 10px 10px 10px 115px;
		border: 6px solid #4c3410;
		border-radius: 8px;
		background: url(../../img/icon/icon_price_ss.png) no-repeat 15px 50% #fff;
		text-align: right;
	}

		#contact .contact-box #price {
			display: inline-block;
			float: left;
			margin-right: 20px;
			font-size: 46px;
			font-weight: bold;
		}

			#contact .contact-box #price span {
				position: relative;
			}

		#contact .contact-box #contact-btn {
			display: inline-block;
		}

			#contact .contact-box #contact-btn a {
				display: block;
				padding: 18px 15px 17px 80px;
				border-radius: 8px;
				background: url(../../img/icon/icon_contact.png) no-repeat 13px 50% #ff4200;
				font-size: 22px;
				color: #fff;
			}

			#contact .contact-box #contact-btn a:hover {
				background: url(../../img/icon/icon_contact.png) no-repeat 13px 50% #ff6833;
			}

	#header .caution {
		position: absolute;
		top: 130px;
		right: 30px;
		color: #392508;
		font-size: 13px;
	}
	
/*-------------------------------------------------------------------------
	Footer
/*-----------------------------------------------------------------------*/
#footer {
	width: 100%;
	min-width: 960px;
	position: fixed;
	bottom: 0;
	background-color: #6f4809;
	z-index: 1000;
}

	#footer .wrap {
		width: 80%;
		margin: 0 auto;
		padding: 10px 0;
		text-align: left;
	}

	#footer a {
		margin-right: 10px;
		color: #ffe593;
		font-size: 12px;
	}

	#footer a:hover {

	}

	#footer #copyright {
		float: right;
		color: #ffe593;
		font-size: 12px;
	}