@charset "UTF-8";

@import "common/layout.css";

/*-------------------------------------------------------------------------
	Common
/*-----------------------------------------------------------------------*/
.wrap {
	width: 980px;
	margin: 0 auto;
	text-align: center;
}

#mainboard {
	position: relative;
	width: 980px;
	height: 520px;
	margin-bottom: 130px;
	background: url(../img/bg/main_board.png) no-repeat center center;
	z-index: 0;
}

	#mainboard p {
		cursor: pointer;
		z-index: 0;
	}

	#mainboard p:before {
		display: block;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	#layer-banar,
	#layer-paper,
	#layer-accessory {
		position: absolute;
		top: 0;
		left: 0;
	}

	#layer-banar {
		width: 100%;
		height: 100%;
		z-index: 100;
	}

	#layer-paper {
		z-index: 300;
	}

		#layer-paper .desk {
			position: absolute;
			top: 355px;
			left: 419px;
		}

			#layer-paper .desk img {
				position: absolute;
			}

			#layer-paper .desk .desk-left {
				top: 51px;
				left: 22px;
			}

			#layer-paper .desk .desk-right {
				top: 51px;
				left: 382px;
			}

	#layer-accessory {
		z-index: 500;
	}

			#layer-accessory .human img {
				position: absolute;
				top: 146px;
				width: 145px;
				height: 373px;
				border-radius: 65px 70px 15px 12px / 130px 160px 40px 130px;
			}

/*-------------------------------------------------------------------------
	Sidemenu Left
/*-----------------------------------------------------------------------*/
#sidemenu-left {
	position: absolute;
	top: 25%;
	left: 0;
	z-index: 600;
}

	#sidemenu-left ul {
		margin-left: -9px;
	}

		#sidemenu-left ul li {
			margin-bottom: 20px;
			border: 6px solid #4c3410;
			border-radius: 8px;
		}

			#sidemenu-left ul li .item-name {
				display: block;
				padding: 8px 9px;
				background-color: #1a580b;
				color: #fff;
				font-size: 16px;
				text-align: center;
			}

			#sidemenu-left ul li .item-length {
				display: block;
				padding: 6px 0;
				background-color: #529635;
				color: #fff;
				font-size: 18px;
				text-align: center;
			}

				#sidemenu-left ul li .item-length span {
					font-size: 140%;
					font-weight: bold;
				}

/*-------------------------------------------------------------------------
	Sidemenu Right
/*-----------------------------------------------------------------------*/
#sidemenu-right {
	position: absolute;
	top: 20%;
	right: 25px;
	z-index: 600;
}

	#sidemenu-right .item-set,
	#sidemenu-right .set-config {
		width: 90px;
		margin-bottom: 20px;
		border: 6px solid #4c3410;
		border-radius: 8px;
		background-color: #fff;
	}

	#sidemenu-right .set-config {
		margin-bottom: 50px;
	}

		#sidemenu-right .item-set p {
			margin-bottom: 15px;
			padding: 10px 0 5px;
			background-color: #1a580b;
			color: #fff;
			font-weight: bold;
		}

		#sidemenu-right .item-set ul {
			text-align: center;
		}

			#sidemenu-right .item-set ul li {
				margin-bottom: 10px;
				cursor: pointer;
			}

		#sidemenu-right .set-config ul {
			padding: 10px 0;
		}

			#sidemenu-right .set-config ul li {
				cursor: pointer;
			}

			#sidemenu-right .set-config ul li:first-child {
				margin-bottom: 20px;
			}

/*-------------------------------------------------------------------------
	Main Menu
/*-----------------------------------------------------------------------*/
#mainmenu {
	position: fixed;
	bottom: 43px;
	left: 0px;
	width: 100%;
	z-index: 800;
}

	#mainmenu .inner {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
	}

	#mainmenu #sale-accessory,
	#mainmenu #sale-banar,
	#mainmenu #sale-paper {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
    padding: 15px 0;
    border-top: 6px solid #4c3410;
    border-bottom: 6px solid #4c3410;
	}

	#mainmenu .current {
		z-index: 50;
	}

	#mainmenu #sale-paper {
		background: url(../img/mainmenu/bg_paper.jpg);
	}

	#mainmenu #sale-banar {
		background: url(../img/mainmenu/bg_banar.jpg);
	}

	#mainmenu #sale-accessory {
		background: url(../img/mainmenu/bg_accessory.jpg);
	}
		#mainmenu div .ttl {
			position: absolute;
			top: -81px;
			left: 50%;
		}

		#mainmenu #sale-paper .ttl {
			margin-left: -356px;
		}

		#mainmenu #sale-banar .ttl {
			margin-left: -114px;
		}

		#mainmenu #sale-accessory .ttl {
			margin-left: 134px;
		}

			#mainmenu div .ttl p {
				padding: 10px 15px 10px;
		    border-top: 6px solid #4c3410;
		    border-left: 6px solid #4c3410;
		    border-right: 6px solid #4c3410;
		    border-radius: 8px 8px 8px 8px / 8px 8px 0px 0px;
		    color: #4c3410;
		    font-size: 20px;
		    font-weight: bold;
		    line-height: 53px;
		    cursor: pointer;
				z-index: 1;
			}

			#mainmenu #sale-paper .ttl p {
				background: url(../img/mainmenu/bg_paper.jpg);
			}

			#mainmenu #sale-banar .ttl p {
				background: url(../img/mainmenu/bg_banar.jpg);
			}

			#mainmenu #sale-accessory .ttl p {
				background: url(../img/mainmenu/bg_accessory.jpg);
			}

		#mainmenu div .slider {
			width: 9999px;
		}

			#mainmenu div .slider ul {
				width: 100%;
			}

/*-------------------------------------------------------------------------
	Item
/*-----------------------------------------------------------------------*/

				#mainmenu div .slider ul li {
					position: relative;
					float: left;
					width: 160px;
					margin-right: 30px;
					border: 5px solid #fff000;
					box-sizing: border-box;
					background-color: #fff;
					cursor: pointer;
				}

					#mainmenu div .slider ul li .img-box {
						width: 100%;
						height: 110px;
						background: url(../img/prodct/utiwa_bg.png) no-repeat center center;
					}

						#mainmenu div .slider ul li .img {
							display: block;
						}

						#mainmenu div .slider ul li .img:before {
							display: block;
							content: "";
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
						}

					#mainmenu div .slider ul li dl {
						padding: 0 5px;
					}

						#mainmenu div .slider ul li dl dt {
							color: #4c3410;
							font-size: 13px;
							font-weight: bold;
						}

						#mainmenu div .slider ul li dl .length {
							color: #db1a1a;
							font-size: 14px;
							font-weight: bold;
						}

						#mainmenu div .slider ul li dl .price {
							color: #db1a1a;
							font-size: 14px;
							font-weight: bold;
						}

							#mainmenu div .slider ul li dl .price span {
								font-size: 170%;
							}


/*-------------------------------------------------------------------------
	Contact
/*-----------------------------------------------------------------------*/
#item-room {
	width: 100%;
}

	#item-room li {
		position: relative;
		float: left;
		width: 200px;
		height: 200px;
		cursor: pointer;
	}

	#item-room li:before {
		display: block;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}