@charset "UTF-8";

@import "common/layout.css";

/*-------------------------------------------------------------------------
	Common
/*-----------------------------------------------------------------------*/
.wrap {
	width: 980px;
	margin: 0 auto;
	text-align: center;
}

#mainboard {
	position: relative;
	width: 980px;
	height: 520px;
	margin-bottom: 130px;
	background: url(../img/bg/main_board.png) no-repeat center center;
	z-index: 0;
}

	#mainboard p {
		position: absolute;
		cursor: -webkit-grab;
		cursor: -moz-grab;
		cursor: -webkit-grab;
		cursor: grab;
		z-index: 0;
	}

	#mainboard p.grab {
		position: fixed;
		z-index: 3000 !important;
	}

	#mainboard p:before {
		display: block;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	#mainboard .board {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 100;
	}

		#mainboard .board .poster {
			z-index: 200;
		}

		#mainboard .board .paper {
			z-index: 400;
		}

		#mainboard .board .panel {
			z-index: 450;
		}

		#mainboard .board .accessory {
			z-index: 800;
		}

		#mainboard .board .desk {
			position: absolute;
			top: 360px;
			left: 419px;
			z-index: 300;
		}

			#mainboard .board .desk .desk-table,
			#mainboard .board .desk .desk-left,
			#mainboard .board .desk .desk-right {
				position: absolute;
			}

			#mainboard .board .desk .desk-table {
				width: 432px;
				height: 55px;
				background: url(../img/bg/desk_table.png) no-repeat center center;
			}

			#mainboard .board .desk .desk-left {
				top: 55px;
				left: 21px;
				width: 20px;
				height: 104px;
				background: url(../img/bg/desk_left.png) no-repeat center center;
			}

			#mainboard .board .desk .desk-right {
				top: 55px;
				left: 380px;
				width: 31px;
				height: 105px;
				background: url(../img/bg/desk_right.png) no-repeat center center;
			}

	#mainboard .board .human {
		position: absolute;
		top: 146px;
		left: 6px;
		width: 145px;
		height: 373px;
		border-radius: 65px 70px 15px 12px / 130px 160px 40px 130px;
		background: url(../img/bg/human.png) no-repeat center center;
		z-index: 500;
	}

/*-------------------------------------------------------------------------
	Trash
/*-----------------------------------------------------------------------*/
#trash {
	position: absolute;
	top: 80%;
	left: 50%;
	margin-left: -39px;
	z-index: 900;
}

	#trash .trash-arrow {
		display: none;
		position: absolute;
		top: -80%;
		left: 23px;
		width: 30px;
		height: 34px;
		background: url(../img/icon/icon_trash_arrow.png) no-repeat center center;
	}

	#trash .trash-box {
		display: none;
		width: 78px;
		height: 80px;
		background: url(../img/icon/icon_trash.png) no-repeat center center;
		cursor: pointer;
	}

/*-------------------------------------------------------------------------
	Sidemenu Left
/*-----------------------------------------------------------------------*/
#sidemenu-left {
	position: absolute;
	top: 25%;
	left: 0;
	z-index: 600;
}

	#sidemenu-left ul {
		margin-left: -9px;
	}

		#sidemenu-left ul li {
			margin-bottom: 20px;
			border: 6px solid #4c3410;
			border-radius: 8px;
		}

			#sidemenu-left ul li .item-name {
				display: block;
				padding: 8px 9px;
				background-color: #1a580b;
				color: #fff;
				font-size: 16px;
				text-align: center;
			}

			#sidemenu-left ul li .item-length {
				display: block;
				padding: 6px 0;
				background-color: #529635;
				color: #fff;
				font-size: 18px;
				text-align: center;
			}

				#sidemenu-left ul li .item-length span {
					font-size: 140%;
					font-weight: bold;
				}

/*-------------------------------------------------------------------------
	Sidemenu Right
/*-----------------------------------------------------------------------*/
#sidemenu-right {
	position: absolute;
	top: 20%;
	right: 25px;
	z-index: 600;
}

	#sidemenu-right .item-set,
	#sidemenu-right .set-config {
		width: 90px;
		margin-bottom: 20px;
		border: 6px solid #4c3410;
		border-radius: 8px;
		background-color: #fff;
	}

	#sidemenu-right .set-config {
		margin-bottom: 50px;
	}

		#sidemenu-right .item-set p {
			margin-bottom: 15px;
			padding: 10px 0 5px;
			background-color: #1a580b;
			color: #fff;
			font-weight: bold;
		}

		#sidemenu-right .item-set ul {
			text-align: center;
		}

			#sidemenu-right .item-set ul li {
				width: 62px;
				height: 72px;
				margin: 0 auto 10px;
				cursor: pointer;
			}

			#sidemenu-right .item-set ul #set-name-matu {
				background: url(../img/icon/icon_matu.png) no-repeat center center;
			}

			#sidemenu-right .item-set ul #set-name-take {
				background: url(../img/icon/icon_take.png) no-repeat center center;
			}

			#sidemenu-right .item-set ul #set-name-ume {
				background: url(../img/icon/icon_ume.png) no-repeat center center;
			}

		#sidemenu-right .set-config > ul {
			padding: 10px 0;
		}

			#sidemenu-right .set-config > ul > li {
				width: 60px;
				height: 61px;
				margin: 0 auto;
				cursor: pointer;
			}

			#sidemenu-right .set-config ul #color-btn,
			#sidemenu-right .set-config ul #color-btn.blue {
				background: url(../img/icon/icon_color_blue.png) no-repeat center center;
			}

			#sidemenu-right .set-config ul #color-btn.red {
				background: url(../img/icon/icon_color_red.png) no-repeat center center;
			}

			#sidemenu-right .set-config ul #color-btn.green {
				background: url(../img/icon/icon_color_green.png) no-repeat center center;
			}

			#sidemenu-right .set-config ul #color-btn.yellow {
				background: url(../img/icon/icon_color_yellow.png) no-repeat center center;
			}

				#sidemenu-right .set-config ul #color-btn ul {
					display: none;
					position: absolute;
					left: 0px;
					width: 0;
				}

					#sidemenu-right .set-config ul #color-btn ul li {
						float: left;
						width: 30px;
						height: 30px;
						margin-right: 5px;
						border-radius: 50%;
					}

					#sidemenu-right .set-config ul #color-btn ul li.current {
						border: 1px solid #000;
					}

					#sidemenu-right .set-config ul #color-btn ul li.red {
						background-color: red;
					}

					#sidemenu-right .set-config ul #color-btn ul li.blue {
						background-color: blue;
					}

					#sidemenu-right .set-config ul #color-btn ul li.green {
						background-color: green;
					}

					#sidemenu-right .set-config ul #color-btn ul li.yellow {
						background-color: yellow;
					}

			#sidemenu-right .set-config ul #help-btn {
				background: url(../img/icon/icon_help.png) no-repeat center center;
			}

			#sidemenu-right .set-config > ul > li:first-child {
				margin-bottom: 20px;
			}

/*-------------------------------------------------------------------------
	Main Menu
/*-----------------------------------------------------------------------*/
#mainmenu {
	position: fixed;
	bottom: 43px;
	/*bottom: 403px;*/
	left: 0px;
	width: 100%;
	z-index: 800;
}

	#mainmenu .inner {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
	}

	#mainmenu #sale-accessory,
	#mainmenu #sale-banner,
	#mainmenu #sale-paper {
		position: absolute;
		left: 0;
		top: 0;
		width: 90%;
    padding: 15px 5%;
    border-top: 6px solid #4c3410;
    border-bottom: 6px solid #4c3410;
	}

	#mainmenu .current {
		z-index: 50;
	}

	#mainmenu #sale-paper {
		background: url(../img/mainmenu/bg_paper.jpg);
	}

	#mainmenu #sale-banner {
		background: url(../img/mainmenu/bg_banner.jpg);
	}

	#mainmenu #sale-accessory {
		background: url(../img/mainmenu/bg_accessory.jpg);
	}
		#mainmenu div .ttl {
			position: absolute;
			top: -81px;
			left: 50%;
		}

		#mainmenu #sale-paper .ttl {
			margin-left: -356px;
			background: url(../img/mainmenu/icon_paper.png) no-repeat center 30px;
		}

		#mainmenu #sale-banner .ttl {
			margin-left: -114px;
		}

		#mainmenu #sale-accessory .ttl {
			margin-left: 134px;
		}

			#mainmenu div .ttl p {
				padding: 10px 15px 10px;
		    border-top: 6px solid #4c3410;
		    border-left: 6px solid #4c3410;
		    border-right: 6px solid #4c3410;
		    border-radius: 8px 8px 8px 8px / 8px 8px 0px 0px;
		    color: #4c3410;
		    font-size: 20px;
		    font-weight: bold;
		    line-height: 53px;
		    cursor: pointer;
				z-index: 1;
			}

			#mainmenu #sale-paper .ttl p {
				background: url(../img/mainmenu/bg_paper.jpg);
			}

			#mainmenu #sale-banner .ttl p {
				background: url(../img/mainmenu/bg_banner.jpg);
			}

			#mainmenu #sale-accessory .ttl p {
				background: url(../img/mainmenu/bg_accessory.jpg);
			}

			#mainmenu div .slider-up {
				width: 10px;
				height: 10px;
				background-color: red;
				cursor: pointer;
			}

			#mainmenu div .slider-down {
				width: 10px;
				height: 10px;
				background-color: green;
				cursor: pointer;
			}

		#mainmenu div .slider {
			overflow-y: scroll;
			/*overflow: hidden;*/
			height: 240px;
		}

			#mainmenu div .slider ul {
				width: 100%;
				text-align: center;
			}

/*-------------------------------------------------------------------------
	Item
/*-----------------------------------------------------------------------*/

				#mainmenu div .slider ul li {
					display: inline-block;
					position: relative;
					width: 160px;
					margin: 0 10px 20px;
					border: 5px solid #fff000;
					box-sizing: border-box;
					background-color: #fff;
					cursor: pointer;
				}

					#mainmenu div .slider ul li .img-box {
						width: 100%;
						height: 110px;
					}

						#mainmenu div .slider ul li .img {
							display: block;
						}

						#mainmenu div .slider ul .drop .img-box .img {
							display: none;
						}

						#mainmenu div .slider ul li .img:before {
							display: block;
							content: "";
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
						}

					#mainmenu div .slider ul li dl {
						padding: 0 5px;
					}

						#mainmenu div .slider ul li dl dt {
							color: #4c3410;
							font-size: 13px;
							font-weight: bold;
						}

						#mainmenu div .slider ul li dl .length {
							color: #db1a1a;
							font-size: 14px;
							font-weight: bold;
						}

						#mainmenu div .slider ul li dl .price {
							color: #db1a1a;
							font-size: 14px;
							font-weight: bold;
						}

							#mainmenu div .slider ul li dl .price span {
								font-size: 170%;
							}


/*-------------------------------------------------------------------------
	Contact
/*-----------------------------------------------------------------------*/
#item-room {
	width: 100%;
}

	#item-room li {
		position: relative;
		float: left;
		width: 200px;
		height: 200px;
		cursor: pointer;
	}

	#item-room li:before {
		display: block;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}