@charset "UTF-8";

@import "common/base.css";

/*-------------------------------------------------------------------------
	All
/*-----------------------------------------------------------------------*/
body,html {
	background: url(../img/bg/bg_main.gif);
}

/*-------------------------------------------------------------------------
	Tutorial
/*-----------------------------------------------------------------------*/
#tutorial {
	width: 100%;
	padding: 100px 0;
}

	#tutorial .wrap {
		width: 100%;
		max-width: 960px;
		margin: 0 auto;
		text-align: center;
	}

	#tutorial h1 {
		margin-bottom: 10px;
	}

		#tutorial h1 img {
			width: 100%;
			max-width: 784px;
			height: auto;
		}

	#tutorial section {
		margin-bottom: 60px;
	}

	#tutorial h2 {
		margin-bottom: 30px;
		text-align: center;
	}

		#tutorial h2 img {
			width: 100%;
			height: auto;
		}

		#tutorial section h3 {
			margin-bottom: 20px;
		}

		#tutorial section p {
			color: #3b3b3b;
		}

#tutorial-about {
	margin-bottom: 30px;
}

		#tutorial-about h2 img {
			max-width: 536px;
		}

	#tutorial-about p {
		margin-bottom: 10px;
		font-size: 18px;
		font-weight: bold;
		text-align: left;
	}

	#tutorial-about .caution {
		margin-bottom: 0;
		font-size: 14px;
	}

#tutorial-limited {
}

		#tutorial-limited h2 img {
			max-width: 596px;
		}

	#tutorial-limited ul {
		padding: 55px 50px;
		border: 6px solid #000;
		border-radius: 8px;
		background-color: #fff;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}

		#tutorial-limited ul li {
			margin-bottom: 60px;
		}

		#tutorial-limited ul li:last-child {
			margin-bottom: 0;
		}

			#tutorial-limited ul li div div {
				display: block;
				float: left;
				width: 45%;
				text-align: center;
			}

				#tutorial-limited ul li div img:last-child {
					width: 170px;
					height: auto;
					margin-left: 30px;
				}

			#tutorial-limited ul li dl {
				display: block;
				float: right;
				width: 50%;
				margin-left: 5%;
				text-align: left;
			}

				#tutorial-limited ul li dl dt {
					color: #ff4800;
					font-size: 34px;
					font-weight: bold;
				}

				#tutorial-limited ul li dl dd {
					margin-bottom: 15px;
					color: #ff4800;
					font-size: 20px;
					font-weight: bold;
				}

				#tutorial-limited ul li dl dd:last-child {
					margin-bottom: 0px;
					color: #3b3b3b;
					font-size: 16px;
				}

#tutorial-contact {
	margin-bottom: 60px;
	padding: 55px;
	border-radius: 8px;
	background-color: #f5be3a;
}

	#tutorial-contact p {
		float: left;
		text-align: left;
	}

		#tutorial-contact p img {
			width: 100%;
			max-width: 495px;
			height: auto;
		}

	#tutorial-contact #contact-btn {
		display: inline-block;
		float: right;
		margin-top: 10px;
	}

		#tutorial-contact #contact-btn a {
			display: block;
			padding: 28px 25px 27px 90px;
			border-radius: 8px;
			background: url(../img/icon/icon_contact.png) no-repeat 13px 50% #ff4200;
			font-size: 32px;
			color: #fff;
		}

		#tutorial-contact #contact-btn a:hover {
			background: url(../img/icon/icon_contact.png) no-repeat 13px 50% #ff6833;
		}

#tutorial-how {
	text-align: center;
}

		#tutorial-how h2 img {
			max-width: 605px;
		}

	#tutorial-how .tutorial-img {
		display: block;
		float: left;
		width: 49%;
		max-height: 403px;
		text-align: right;
	}

		#tutorial-how .tutorial-img img {
			width: 100%;
			max-width: 507px;
			height: auto;
			max-height: 403px;
		}

	#tutorial-how .tutorial-text {
		display: block;
		float: left;
		width: 48%;
		height: 100%;
		margin-left: 2%;
		text-align: left;
	}

		#tutorial-how .tutorial-text p {
			color: #3b3b3b;
			font-size: 18px;
			font-weight: bold;
		}

	#tutorial .start-btn {
		display: inline-block;
		position: relative;
		margin: 0 20px;
		cursor: pointer;
	}

		#tutorial .start-btn a:hover {
			opacity: .7;
		}

		#tutorial .start-btn img {
			width: 100%;
			max-width: 627px;
			height: auto;
		}

		#tutorial .start-btn span {
			display: block;
			position: absolute;
			top: 12px;
			left: 12px;
			width: 17px;
			height: 17px;
			background: url(../img/tutorial/bolt.png) no-repeat center center;
			background-size: contain;
		}

		#tutorial .start-btn span:nth-child(2) {
			top: 72px;
		}

		#tutorial .start-btn span:nth-child(3) {
			top: 12px;
			right: 12px;
			left: auto;
		}

		#tutorial .start-btn span:nth-child(4) {
			top: 72px;
			right: 12px;
			left: auto;
		}

@media screen and (max-width: 960px) {

	#tutorial {
		padding: 60px 0;
	}

	#tutorial h1,
	#tutorial section {
		padding: 0px 10px;
	}

	#tutorial section {
		margin-bottom: 30px;
	}

	#tutorial h2 {
		margin-bottom: 20px;
	}

	#tutorial-about p {
		font-size: 14px;
	}

	#tutorial-about .caution {
		font-size: 12px;
	}

	#tutorial-limited ul {
		padding: 25px 20px;
	}

			#tutorial-limited ul li div div {
				float: none;
				width: 100%;
				margin-bottom: 10px;
			}

				#tutorial-limited ul li div img:first-child {
					width: 100px;
					height: auto;
				}

				#tutorial-limited ul li div img:last-child {
					width: 140px;
					height: auto;
					margin-left: 0;
				}

			#tutorial-limited ul li dl {
				float: none;
				width: 100%;
				margin-left: 0;
			}

				#tutorial-limited ul li dl dt {
					font-size: 24px;
				}

				#tutorial-limited ul li dl dd {
					margin-bottom: 15px;
					font-size: 18px;
				}

				#tutorial-limited ul li dl dd:last-child {
					font-size: 14px;
				}

	#tutorial-contact {
		margin: 0 10px 30px;
		padding: 20px;
		text-align: center;
	}

		#tutorial-contact p {
			float: none;
			margin-bottom: 20px;
			text-align: center;
		}

	#tutorial-contact #contact-btn {
		float: none;
	}

		#tutorial-contact #contact-btn a {
			display: inline-block;
			padding: 18px 15px 17px 80px;
			font-size: 22px;
		}

	#tutorial-how .tutorial-img {
		float: none;
		width: 100%;
		margin-bottom: 20px;
		text-align: center;
	}

	#tutorial-how .tutorial-text {
		display: block;
		float: none;
		width: 100%;
		margin-left: 0;
	}

		#tutorial-how .tutorial-text p {
			font-size: 14px;
		}
}
